@using Microsoft.AspNet.Identity
@using orgchart.Models
@{
    ViewBag.Title = "Home Page";
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
    </section>
    @{ 
        //Get Current UserName
        int id = Convert.ToInt32(User.Identity.Name);
        //Current Compamy
        company find_company = new DBContext().companies.ToList().Find(x => x.user_id == id);
        int total_designation = new DBContext().designations.ToList().FindAll(x=>x.company_id==find_company.id).Count();
        int total_employees = new DBContext().employees.ToList().FindAll(x => x.company_id == find_company.id).Count();
        List<Employee> top_employee_names = new DBContext().employees.ToList().FindAll(x => x.company_id == find_company.id && x.supervisor_id == 0).ToList();
        List<Employee> lstEmployees = new DBContext().employees.ToList().FindAll(x => x.company_id == find_company.id).OrderByDescending(x=>x.joining_date).ToList().Take(5).ToList();
    }
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@total_designation</h3>

                        <p>Total Designations</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="@Url.Action("index","designation")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@total_employees</h3>

                        <p>Total Employees</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="@Url.Action("index","employee")" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            @if (top_employee_names.Count > 0)
            {
                Employee top_employee_name = top_employee_names.FirstOrDefault();
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>@top_employee_name.first_name @top_employee_name.last_name</h3>

                        <p>@{
                            string top_emp_deg_name = "";
                            if (top_employee_name.designation_id > 0)
                            {
                                top_emp_deg_name = new DBContext().designations.Find(top_employee_name.designation_id).name;
                            }

                        }
                        @top_emp_deg_name
                        </p>
                    </div>
                    <div class="icon">
                        <img width="50" src="@Utility.GetBaseUrl()/@top_employee_name.photo" />
                    </div>
                    <a href="#" class="small-box-footer">Top Most Employee Of the company</a>
                </div>
            </div>
                            }
            </div>
        <div class="row">
            <div class="col-md-12">
                <div class="col-md-3">


                    <h4>Recent Joining Employees</h4>
                    @foreach (Employee empMdl in lstEmployees)
                    {
                        <div class="row">

                            <div class="col-md-12 col-sm-6 col-xs-12">
                                <div class="info-box bg-red">
                                    <span class="info-box-icon"><img src="@Utility.GetBaseUrl()/@empMdl.photo" /></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">@empMdl.first_name @empMdl.last_name</span>
                                        <span class="info-box-number">@empMdl.joining_date</span>

                                        <span class="progress-description">
                                            @{
                                                String deg_name = "";
                                                if (empMdl.designation_id > 0)
                                                {
                                                    deg_name = new DBContext().designations.Find(empMdl.designation_id).name;
                                                }
                                            }
                                            @deg_name
                                        </span>
                                    </div>
                                    <!-- /.info-box-content -->
                                </div>
                                <!-- /.info-box -->
                            </div>

                        </div>
                                                }
                </div>
            </div>

        </div>

    </section>
    <!-- /.content -->
</div>
