@model orgchart.Models.User
@using orgchart.Models
@using Microsoft.AspNet.Identity
@{
    ViewBag.Title = "create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{
    int id = Convert.ToInt32(User.Identity.GetUserName());
    User current_user = new DBContext().users.Find(id);
    String name = current_user.first_name + " " + current_user.last_name;
}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            User
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="row">


            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-primary">
                    @{
                        String message = ViewData["message"].ToString();

                    }
                    @if (message != "" && message.StartsWith(Utility.FAILED_MESSAGE))
                    {
                        message = message.Replace(Utility.FAILED_MESSAGE, "");
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            @Html.Raw(message)
                        </div>
                    }
                    else if (message != "" && message.StartsWith(Utility.SUCCESS_MESSAGE))
                    {
                        message = message.Replace(Utility.SUCCESS_MESSAGE, "");
                        <div class="alert alert-info alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            @Html.Raw(message)
                        </div>
                    }
                    <div class="box-header with-border">
                        <h3 class="box-title">Add User</h3>
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    @using (Html.BeginForm("Store", HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString(), FormMethod.Post, new { id = "form", data_toggle = "validator", enctype = "multipart/form-data" }))
                    {
                        <input type="hidden" value="@Model.id" name="id" />
                        <div class="box-body">
                            <div class="form-group">
                                <label>First Name</label>
                                <input type="text" class="form-control" id="user_first_name" placeholder="First Name" name="first_name" value="@Model.first_name">
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>
                                <input type="text" class="form-control" id="user_last_name" placeholder="Last Name" name="last_name" value="@Model.last_name">
                            </div>
                            <div class="form-group">
                                <label>User Email</label>
                                <input type="text" class="form-control" id="user_email" placeholder="User Email" name="email" value="@Model.email">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input type="password" class="form-control" id="user_password" placeholder="Password" name="password" value="@Model.password">
                                <input type="checkbox" onclick="myFunction()">Show Password
                            </div>
                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" id="user_confirm_password" placeholder="Confirm Password" name="confirm_password" value="@Model.confirm_password">
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    }
                </div>

            </div>
        </div>

    </section>
    <!-- /.content -->
</div>

